.footer-container{
  margin-top: 50px;
  position: block;
}

.footer-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px solid var(--background-effect);
}

.footer{
  align-items: center;
  display: flex;
  margin-top: 5rem;
  padding: 2.5rem 0;
}