.footer-container{
  margin-top: 50px;
}

.footer-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px solid var(--background-effect);
}

.footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: -5rem;
  padding: 2.5rem 0;
}

.footer-links{
  margin-top: 1rem;
}
.social-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}