* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  font-family: "lato-bold";
  height: 4rem;
  width: 100%;
}
#check {
  display: none;
}
a:link,
a:visited {
  color: var(--primary-color);
}
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 1.5vh;
  z-index: 100;
}
.nav-background {
  background-color: #fff;
  border-radius: 4rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 4rem;
  padding: 0;
  width: 24.8rem;
}

nav ul {
  float: right;
  margin: 1.5rem 1.8rem 0rem 0rem;
}

nav ul li {
  display: inline-block;
  line-height: 0.8rem;
  margin: 0 0.5rem;
}

.nav-item-active {
  color: var(--active-color) !important;
}
