* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

ul {
  margin: 1.5rem 0rem 0rem -1rem;
}

ul li {
  display: inline-block;
  line-height: 0.8rem;
  margin: 0 0.5rem;
}

a:link,
a:visited {
  color: var(--primary-color);
}

.nav-item-active {
  color: var(--active-color) !important;
}
