@for (item of socialMedia(); track item.name) {
@if (showJustIcons) {
@if (item.name === "Mail") {
<i class="{{ item.icon }}" (click)="copyToClipboard(item.url)">
  <span class="hidden-description">{{ item.description }}</span>
</i>
} @else {
<a href="{{ item.url }}" target="_blank">
  <i class="{{ item.icon }}">
    <span class="hidden-description"> {{ item.description }} </span>
  </i>
</a>
}
} @else {
@if(item.name==="Mail"){
<i class="{{ item.icon }}" (click)="copyToClipboard(item.url)">
  <span class="visible-description">{{ item.description }}</span>
</i>
}@else{
<a href="{{ item.url }}" target="_blank">
  <i class="{{ item.icon }}">
    <span class="visible-description"> {{ item.description }} </span>
  </i>
</a>
}

}
}